docker pull influxdb:2.8services:
  influxdb:
    image: influxdb:2.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpoc
      - DOCKER_INFLUXDB_INIT_ORG=poc
      - DOCKER_INFLUXDB_INIT_BUCKET=vm-metrics
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=meu-token-poc
    volumes:
      - influxdb-data:/var/lib/influxdb2
    networks:
      - poc-network
    restart: unless-stopped

  grafana:
    image: docker.io/grafana/grafana:9.5.15
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:ro
    depends_on:
      - influxdb
    networks:
      - poc-network
    restart: unless-stopped

volumes:
  influxdb-data:
  grafana-data:

networks:
  poc-network:
    driver: bridge
